/* Manrope font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* Color variables */
:root {
  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --tiffany-blue: #94d2bdff;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: #9b2226ff;
  --vanilla: #e9d8a6ff;
  --dutch-white: #efe2be;
  --parchment: #f3e9ce;
  --eggshell: #f7f1de;
}

* {
  padding: 0;
  margin: 0px;
}

/* Remove margin / padding */
html,
body {
  font-family: "Manrope", Arial, sans-serif;
}

.wrapper {
  background-color: var(--vanilla);
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

header,
footer {
  background-color: var(--rufous);
  padding: 8px 24px;
  color: var(--parchment);
  border: 4px solid var(--auburn);
}

nav {
  display: flex;
}

nav ul a {
  color: var(--parchment);
  padding: 0px 20px;
  text-decoration: underline var(--auburn) 2px;
  font-weight: 300;
}

nav ul a:hover {
  color: var(--eggshell);
  text-decoration: underline var(--eggshell) 1px;
}

header nav ul a:first-of-type {
  font-weight: 600;
}

header nav {
  justify-content: space-around;
}

footer nav {
  justify-content: space-between;
}

h4 {
  font-weight: 200;
}

#body-section {
  margin: 12px;
  background-color: var(--dutch-white);
  flex: 1 1 0;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  
}

#hero {
  text-align: center;
  flex: 1 0 0;
  /* padding: 4vh; */
}

#card-section {
  /* width: 100%; */
  /* padding: 10vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 5 0 0;
}

.home-card {
  padding: 10px;
  border: 2px solid var(--rich-black);
  margin: 2px 8px;
  flex: 1 1 0px;
  min-width: 84px;
}

h1 {
  font-size: 60px;
  font-weight: 200;
  text-decoration: underline var(--auburn);
  text-decoration-thickness: 2px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin: -15px 0px 0px 0px;
}

#basics {
  background-color: var(--midnight-green);
}

#selectors {
  background-color: var(--dark-cyan);
}

#typography {
  background-color: var(--tiffany-blue);
}

#flexbox {
  background-color: var(--gamboge);
}

#grid {
  background-color: var(--alloy-orange);
}

#animation {
  background-color: var(--rust);
}

/* Tablets */
@media (max-width: 768px) {
  header nav ul a {
    padding: 0px 4px;
    font-size: 13px;
  }
  footer nav ul a {
    padding: 0px 4px;
  }

  #basics {
    background-color: var(--tiffany-blue);
  }
  #typography {
    background-color: var(--midnight-green);
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 18px;
  }

  .home-card {
    min-width:146px;
  }
}

/* @582 - Breaking Point of flexbox, so colours need changing */
@media (max-width: 582px) {
    body {
        font-size: 12px;
    }

    #card-section {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 100vh;
        align-items: space-around;
    }

    .home-card {
        max-width: 39vw;
        min-height: 25vh;
    }
}

/* Mobiles */
@media (max-width: 480px) {    
  header nav ul a:not(:first-of-type) {
    visibility: hidden;
  }

  footer nav ul a {
    visibility: hidden;
  }

  .home-card {
    max-width: 37vw;
    min-height: 25vh;
}
}
